%rubik-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%poppins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%link-btn{
  color: #436372;
  padding: 22px 20px;
  font-size: 15px;
  line-height: 12px;
  @extend %rubik-500;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(67, 99, 114, 0.4);
  border-radius: 5px;
  background-color: rgba(36, 63, 77, 0);
  &::after{
    content: url('../images/icons/arrow-more.svg');
    padding-left: 42px;
  }
}

%filter-btn{
  background-color: transparent;
  padding: 0;
  border: none;
}

@function max($numbers...) {
 @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
 @return m#{i}n(#{$numbers});
}

