@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 48px 15px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  margin: 0 15px;
  &__list{
    display: flex;
    margin-left: 210px;
  }
  &__list-item + .menu__list-item{
    padding-left: 30px;
  }
  &__list-link{
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
  }
}

.user-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  &__item{
    position: relative;
  }
  &__item:not(:last-child){
   margin-right: 20px;
  }
  &__item-search{
    background-color: #ecf1f4;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 16px 0 0 16px;
  }
  &__item-likes{
    position: relative;
    display: flex;
    width: 178px;
    height: 52px;
    border-radius: 25px;
    background-color: #FCD7B6;
    padding: 20px 0 0 40px;
  }
  &__item-border{
    border-left: 1px solid #fff;
    height: 32px;
    margin: -8px 30px;
    opacity: .4;
  }
  &__item-switch{
    background-color: #a3bbc8;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 14px;
  }
  &__heart-num{
    position: absolute;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 18px;
    color: #243F4D;
    top: 12px;
    right: 110px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
  }
  &__cart-num{
    position: absolute;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 18px;
    top: 12px;
    right: 32px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #243F4D;
    background-color: #fff;
    text-align: center;
  }
}

.footer-top{
  padding: 75px 0;
  border-bottom: 1px solid rgba(163, 187, 200, .4);
  display: flex;
  &__contact{
    width: 220px;
    margin-right: 80px;
  }
  &__nav{
    width: 200px;
    margin-right: 100px;
  }
  &__item-form{
    width: 270px;
  }
  &__logo{
    margin-bottom: 24px;
    display: block;
  }
  &__address,
  &__email,
  &__phone{
    display: block;
    margin-bottom: 12px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044; 
    text-transform: uppercase;
    margin-bottom: 26px;
  }
  &__link{
    display: inline-block;
    margin-bottom: 12px;
  }
  &__text{
    margin-bottom: 34px;
  }
  &__form-input{
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 12px;
    &::placeholder{
      @extend %dmsans-500;
      color: #234969;
      font-size: 12px;
      line-height: 1.2;
    }
  }
  &__form-btn{
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    padding: 12px 16px;
    margin-left: -4px;
    cursor: pointer;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav-link{
    line-height: 32px;
  }
  &__nav-link:not(:last-child)::after{
    content: '|';
    margin-left: 12px;
    margin-right: 12px;
  }
}

.top{
  background-color: #edf1f4;
  padding: 30px 0;
  text-align: center;
  &__title{
    @extend %rubik-300;
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 10px;
  }
}

.top-slider{
  &__container{
    background-color: #fcd7b6;
  }
  &__inner{
    padding-top: 100px;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 650px;
  }
  &__title{
    max-width: 470px;
    font-size: 72px;
    line-height: 70px;
    @extend %rubik-500; 
    color: #243f4d;
    margin-bottom: 42px;
  }
  &__text{
    max-width: 380px;
    margin-bottom: 68px;
    @extend %rubik-500;
    font-size: 18px;
    line-height: 30px;
  }
  &__link{
    background-color: #a3bbc8;
    color: #fff;
    padding: 24px 26px 26px 20px;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    &::after{
      content: url('../images/icons/arrow.svg');
      padding-left: 56px;
    }
  }
  &__image::before{
    content: url('../images/slider/photo-bg.png');
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    li{
      padding: 0 10px;
      button{
        padding: 0;
        font-size: 11px;
        @extend %rubik-500;
        background-color: #fde3cc;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #243F4D;
      }
      &.slick-active{
        button{
          background-color: #fff;
        }
      }
    }
  }
}

.services{
  &__container{
    background-color: #fef7f0;
  }
  &__items{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item{
    position: relative;
    &:nth-child(1){
      border-right: 1px solid rgba(36, 63, 77, 0.102);
      height: 170px;
      padding: 35px 200px 0 50px;
    }
    &:nth-child(2){
      border-right: 1px solid rgba(36, 63, 77, 0.102);
      height: 170px;
      padding: 35px 150px 0 0;
    }
    &:nth-child(1)::before{
      content: url('../images/icons/time-icon.svg');
      position: absolute;
      left: -25px;
      top: 50px;
    }
    &:nth-child(2)::before{
      content: url('../images/icons/delivery-icon.svg');
      position: absolute;
      left: -80px;
      top: 50px;
    }
    &:nth-child(3)::before{
      content: url('../images/icons/creditcard-icon.svg');
      position: absolute;
      left: -80px;
      top: 15px;
    }
  }
  &__title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__subtitle{
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
}

.products{
  padding: 80px 0 120px;
  &__filter-btn{
    @extend %filter-btn;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: #8b8b8b;
    &:not(:last-child){
      margin-right: 30px;
    }
  }
  .mixitup-control-active{
    color: #1a1a1a;
  }
  &__item{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 190px;
  }
  &__items{
    height: 380px;
    position: relative;
    padding-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    img{
      margin: 0 auto;
      object-fit: cover;
    }
  }
  &__items:hover .products__icons{
    opacity: 1;
  }
  &__items-box{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
  }
  &__items-title{
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 32px;
    color: #243f4d;
  }
  &__items-price{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 24px;
    color: #a3bbc8;
  }
  &__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all .5s; 
  }
  &__link{
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 16px 12px 0;
    &:nth-child(2){
      background-color: #a3bbc8;
    }
  }
  &__link:not(:last-child){
    margin-right: 15px;
  }
}

.products-more{
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    background-color: #feefe2;
    width: 870px;
    min-height: 390px;
    display: flex;
    justify-content: center;
    &:not(:last-child){
      margin-right: 30px;
    }
  }
  &__image{
    margin-top: -90px;
  }
  &__item-content{
    width: 340px;
    margin-left: 60px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    margin: 90px 0 20px;
  }
  &__subtitle{
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 35px;
  }
  &__link{
    @extend %link-btn;
  }
}

.products-design{
  padding: 105px 0 120px;
  &__filter-btn{
    @extend %filter-btn;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: #8b8b8b;
    &:not(:last-child){
      margin-right: 30px;
    }
  }
  .mixitup-control-active{
    color: #1a1a1a;
  }
  &__item{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__items{
    min-height: 246px;
    padding-top: 42px;
    padding-left: 34px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 1.2;
    color: #1a1a1a;
  }
  &__subtitle{
    display: block;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: #a3bbc8;
  }
}

.video{
  &__inner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blog{
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__top-link{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: #262626;
    &::after{
      content: url('../images/icons/blog-arrow.svg');
      margin-left: 18px;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  &__item{
    max-width: 370px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 5px;
    position: relative;
    background-color: #fff;
  }
  &__item-image{
    height: 250px;
    object-fit: cover;
  }
  &__item-content{
    padding: 35px 36px 22px;
  }
  &__item-text{
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 1.2;
    color: #262626;
    margin-bottom: 15px;
    height: 60px;
  }
  &__item-bottom{
    display: flex;
    border-top: 1px solid #e0e0e0;
    position: relative;
  }
  &__item-date,
  &__item-author{
    @extend %dmsans-700;
    font-size: 12px;
    line-height: 2.5;
    color: #222933;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 27px;
  }
  &__item-date{
    margin-right: 28px;
    &::before{
      content: url('../images/icons/time.svg');
      position: absolute;
      left: 0;
      top: 14px;
    }
  }
  &__item-author{
    padding-top: 10px;
    &::before{
      content: url('../images/icons/user.svg');
      position: absolute;
      left: 160px;
      top: 14px;
    }
  }
  &__item--news{
    .blog__item-content::before{
    content: 'news';
    position: absolute;
    @extend %poppins-700;
    line-height: 14px;
    background-color: #a3bbc8;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 36px;
    border-radius: 15px;
    bottom: 158px;
    left: 28px;
    }
  }  
}

.partners{
  background-color: #fef7f0;
  margin-top: -175px;
  padding-top: 195px;
  &__login{
    margin-top: 0;
    padding-top: 0;
  }
  &__list{
    height: 266px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.modal{
  max-width: 470px;
  margin: 120px auto;
  &__label{
    display: block;
    margin-bottom: 30px;
    @extend %rubik-500;
    color: #436372;
  }
  &__input{
    display: block;
    width: 100%;
    margin-top: 10px;
    border: 2px solid #f6f6f6;
    padding: 15px;
  }
  &__btn-login{
    width: 100%;
    color: #fffefe;
    background-color: #a3bbc8;
    padding: 18px 0;
    font-size: 18px;
    @extend %rubik-500;
    border: none;
    cursor: pointer;
  }
  &__remember{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 28px;
    border-bottom: 2px solid #f6f6f6;
  }
  &__label-rememb{
    display: block;
    @extend %rubik-500;
    color: #436372;
  }
  &__input-rememb{
    padding-left: 24px;
    }
  &__link-rememb{
    @extend %rubik-400;
    color: #436372;
  }
  &__registered{
    padding: 30px 0 22px;
    text-align: center;
    @extend %rubik-500;
    color: #436372;
  }
  &__btn-create{
    width: 100%;
    color: #243f4d;
    background-color: #fff;
    padding: 18px 0;
    font-size: 18px;
    @extend %rubik-500;
    border: 2px solid #a3bbc8;
    cursor: pointer;
  }
}

.stat{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content{
    max-width: 570px;
    padding-left: 20px;
  }
  &__work{
    display: flex;
  }
  &__work-num{
    @extend %rubik-700;
    font-size: 140px;
    line-height: 32px;
    color: #a3bbc8;
    margin-right: 26px;
  }
  &__work-text{
    font-size: 16px;
    line-height: 30px;
    color: $text;
    margin-top: -20px;
  }
  &__title{
    padding: 50px 0;
    font-size: 36px;
    line-height: 32px;
    @extend %dmsans-700;
    color: $text;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: $text;
    padding-bottom: 65px;
    border-bottom: 2px solid rgba(9, 49, 111, 0.102);
  }
  &__numbers{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }
  &__numbers-item{
    @extend %dmsans-700;
    padding: 12px 25px 20px 0px;
    border-right: 1px solid rgba(9, 49, 111, 0.102);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__numbers-item:last-child{
    border: none;
  }
  &__item-icon{
    margin-right: 20px;
  }
  &__item-num{
    font-size: 36px;
    line-height: 38px;
    color: $text;
    display: block;
  }
  &__item-descr{
    font-size: 16px;
    line-height: 17px;
    color: #4c4c4c;
  }
}

.numbers{
  padding: 80px 0;
  background-color: #fcd7b6;
  &__items{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    @extend %dmsans-700;
    line-height: 32px;
    color: $text;
  }
  &__num{
    font-size: 36px;
    padding: 20px 0;
  }
  &__text{
    font-size: 18px;
  }
}

.team{
  padding: 120px 0 180px;
  &__inner{
    display: flex;
  }
  &__content{
    max-width: 310px;
    color: $text;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 32px;
  }
  &__text{
    padding: 30px 0 40px;
    font-size: 16px;
    line-height: 30px;
  }
  &__link{
    color: #fff;
    padding: 18px 25px 18px 20px;
    font-size: 15px;
    line-height: 55px;
    @extend %poppins-700;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(67, 99, 114, 0.4);
    border-radius: 5px;
    background-color: #a3bbc8;
    &::after{
      content: url('../images/about/arrow.svg');
      padding-left: 20px;
    }
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 110px 30px;
    padding-left: 90px;
  }
  &__item{
    position: relative;
  }
  &__box{
    position: absolute;
    padding: 30px 16px 30px 25px;
    max-width: 330px;
    background-color: #fff;
    left: 0;
    bottom: -60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name{
    @extend %dmsans-700;
    font-size: 22px;
    line-height: 26px;
    color: #436372;
  }
  &__subtitle{
    font-size: 16px;
    line-height: 30px;
    color: #565872;
  }
  &__links{
    margin-left: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__social-link{
    background-color: #f6f6f6;
    width: 41px;
    height: 41px;
    border-radius: 50%;
  }
  &__social-link:not(:last-child){
    margin-right: 8px;
  }
  &__link-instagram{
    margin-top: 12px;
    margin-left: 12px;
  }
  &__link-google{
    margin-top: 14px;
    margin-left: 10px;
  }
}

.terms{
  padding: 120px 0;
  color: $text;
  &__title{
    @extend %rubik-500;
    font-size: 24px;
    margin-bottom: 24px;
  }
  &__top{
    margin-bottom: 70px;
  }
  &__top-list{
    list-style-type: decimal-leading-zero;
    margin-left: 25px;
  }
  &__top-item{
    p{
      padding-left: 6px;
    }
  }
  &__top-item:not(:last-child){
    margin-bottom: 30px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
  }
  &__bottom-item:not(:last-child){
    margin-bottom: 70px;
  }
}

.product{
  padding: 115px 0;
  &__inner{
    display: flex;
  }
  &__filters{
    min-width: 270px;
    margin-right: 30px;
  }
}

.filter{
  &__item{
    text-align: left;
    &:not(:last-child){
      margin-bottom: 70px;
    }
  }
  &__box-title{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &__title{
    text-transform: uppercase;
    @extend %dmsans-700;
    font-size: 18px;
    color: $text;
    padding-right: 15px;
  }
}

.filter-price{
  &__label{
    display: flex;
    justify-content: space-between;
  }
  span{
    color: $text;
  }
}

.irs--flat{
  height: 35px;
}

.irs--flat .irs-line{
  top: 6px;
  height: 3px;
  background-color: rgb(163, 187, 200);
  opacity: 0.659;
}

.irs--flat .irs-bar{
  top: 6px;
  background-color: rgb(163, 187, 200);
  height: 4px;
}

.irs--flat .irs-handle{
  top: 0px;
  background-color: rgb(163, 187, 200);
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.irs--flat .irs-handle>i:first-child{
  display: none;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
  display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max{
  display: none;
}

.filter-category{
  &__label{
    cursor: pointer;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: #edf1f4;
    }
  }
  &__checkbox{
    color: $text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 22px 16px 16px;
    font-size: 16px;
    border-radius: 5px;
  }
}

.filter-brand{
  &__label{
    cursor: pointer;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      color: $text;
      background-color: #edf1f4;
      span:nth-child(2){
        color: $text;
      }
    }
  }
  &__checkbox{
    color: $text;
    display: flex;
    justify-content: space-between;
    padding: 16px 22px 16px 16px;
    font-size: 16px;
    border-radius: 5px;
    span:nth-child(2){
      color: #d6d6d6;
    }
  }
}

.filter-recent{
  &__item{
    display: flex;
    align-items: center;
    &:not(:last-child){
      margin-bottom: 25px;
    }
  }
  &__image{
    margin-right: 20px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f2f2f2;
  }
  &__img{
    object-fit: cover;
  }
  &__content{
    color: #333;
  }
  &__link{
    color: #333;
    display: block;
    margin-bottom: 10px;
  }
  &__star{
    margin: 0 0 10px -5px;
  }
  &__price{
    font-size: 15px;
  }
}

.product-content{
  &__box{
    width: 870px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

.product-grid{
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  &__imagebox{
    width: 370px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 25px;
    border: 2px solid #f2f2f2;
    margin-right: 30px;
  }
  &__img{
    object-fit: cover;
  }
  &__content{
    color: #333;
    width: 470px;
    padding: 0 35px;
  }
  &__title{
    font-size: 40px;
    margin-bottom: 20px;
  }
  &__star{
  }
  &__price{
    display: block;
    font-size: 30px;
    margin: 35px 0;
  }
  &__text{
    color: $text;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 45px;
  }
  &__link{
    padding: 15px 50px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    background-color: #a3bbc8;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }
  &__content:hover .product-grid__icons{
    transform: translateY(-50%);
  }
  &__content:hover .product-grid__link{
    display: none;
  }
  &__icons{
    display: flex;
    transform: translateY(-10000%);
  }
  &__linkicon{
    background-color: #fff;
    width: 50px;
    height: 50px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 16px 12px 0;
    &:nth-child(1){
      background-color: #a3bbc8;
    }
  }
  &__linkicon:not(:last-child){
    margin-right: 15px;
  }
}
















@import 'media';



