.partners{
  background-color: #fef7f0;
  margin-top: -175px;
  padding-top: 195px;
  &__login{
    margin-top: 0;
    padding-top: 0;
  }
  &__list{
    height: 266px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}