.products{
  padding: 80px 0 120px;
  &__filter-btn{
    @extend %filter-btn;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: #8b8b8b;
    &:not(:last-child){
      margin-right: 30px;
    }
  }
  .mixitup-control-active{
    color: #1a1a1a;
  }
  &__item{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 190px;
  }
  &__items{
    height: 380px;
    position: relative;
    padding-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    img{
      margin: 0 auto;
      object-fit: cover;
    }
  }
  &__items:hover .products__icons{
    opacity: 1;
  }
  &__items-box{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
  }
  &__items-title{
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 32px;
    color: #243f4d;
  }
  &__items-price{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 24px;
    color: #a3bbc8;
  }
  &__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all .5s; 
  }
  &__link{
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 16px 12px 0;
    &:nth-child(2){
      background-color: #a3bbc8;
    }
  }
  &__link:not(:last-child){
    margin-right: 15px;
  }
}

.products-more{
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    background-color: #feefe2;
    width: 870px;
    min-height: 390px;
    display: flex;
    justify-content: center;
    &:not(:last-child){
      margin-right: 30px;
    }
  }
  &__image{
    margin-top: -90px;
  }
  &__item-content{
    width: 340px;
    margin-left: 60px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    margin: 90px 0 20px;
  }
  &__subtitle{
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 35px;
  }
  &__link{
    @extend %link-btn;
  }
}

.products-design{
  padding: 105px 0 120px;
  &__filter-btn{
    @extend %filter-btn;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: #8b8b8b;
    &:not(:last-child){
      margin-right: 30px;
    }
  }
  .mixitup-control-active{
    color: #1a1a1a;
  }
  &__item{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__items{
    min-height: 246px;
    padding-top: 42px;
    padding-left: 34px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 1.2;
    color: #1a1a1a;
  }
  &__subtitle{
    display: block;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: #a3bbc8;
  }
}

.video{
  &__inner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1200px){
  .products{
    &__item{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    }
  }
  .products-more{
    &__image{
      margin-top: -70px;
    }
  }
  .video{
    &__inner{
      height: 350px;
    }
  }
}

@media (max-width: 1050px){
  .products{
    padding: 80px 0;
    &__item{
      padding: 10px;
      margin-bottom: 100px;
    }
  }
  .products-more{
    &__items{
      flex-wrap: wrap;
    }
    &__item{
      width: 100%;
      margin-bottom: 30px;
      padding: 10px;  
    }
    &__item:not(:last-child){
      margin-right: 0;
    }
    &__item-content{
      margin-left: 0;
    }
    &__image{
      max-width: 60%;
      margin-top: 60px;
    }
  }
  .products-design{
    &__item{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
    &__items{
      padding-top: 40px;
      padding-left: 70px;
    }
    &__title{
      font-size: 16px;
    }
  }
}

@media (max-width: 600px){
  .products{
    padding: 50px 0 70px;
    &__item{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
      margin-bottom: 50px;
    }  
  }
  .products-more{
    &__image{
      display: none;
    }
  }
  .products-design{
    padding: 40px 0 80px;
    &__item{
      grid-template-columns: repeat(1, 1fr);
    }
    &__items{
      padding-top: 25px;
      padding-left: 120px;
    }
  }
  .video{
    &__inner{
      height: 200px;  
    }
  }
}

@media (max-width: 450px){
  .products{
    &__filter-btn:not(:last-child){
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  .products-design{
    &__filter-btn:not(:last-child){
      margin-right: 0;
      margin-bottom: 15px;
    }
    &__items{
      padding-top: 40px;
      padding-left: 50px;
    }
  }
  .video{
    &__inner{
      height: 160px;
    }
  }
}
